// Biscuit Color Scheme

$base00: #181515;
$base01: #221E1E;
$base02: #2B2626;
$base03: #423939;
$Altbase03: #423939;
$base04: #6D5F5F;
$base05: #978787;
$base06: #B6A8A5;
$base07: #F4E6D2;
$base08: #CA3F3F;
$base09: #E46A3A;
$base0A: #E39C45;
$base0B: #989F56;
$base0C: #629386;
$base0D: #517894;
$base0E: #4A5A8D;
$base0F: #9F569A;

$baseA0: $base08;
