/* @import "/home/tokyob0t/.cache/wal/colors.scss";
$base00: $color0;
$base01: $color1;
$base02: $color2;
$base03: $color3;
$base04: $color4;
$base05: $color5;
$base06: $color6;
$base07: $color7;
$base08: $color8;
$base09: $color9;
$base0A: $color10;
$base0B: $color11;
$base0C: $color12;
$base0D: $color13;
$base0E: $color14;
$base0F: $color15; */

$base00: #161616;
$base01: #262626;
$base02: #393939;
$base03: #525252;
$base04: #dde1e6;
$base05: #f2f4f8;
$base06: #ffffff;
$base07: #08bdba;
$base08: #3ddbd9;
$base09: #78a9ff;
$base0A: #ee5396;
$base0B: #33b1ff;
$base0C: #ff7eb6;
$base0D: #42be65;
$base0E: #be95ff;
$base0F: #82cfff;
