.weatherMainBox {
  background: $base00;
  padding: 10px;
  border-radius: $outer_border-radius;

  .weatherTop {

    > .icon {
      font-size: 100px;
    }
  }
  .weatherQuoteBox {
    all: unset;
    padding: 5px 2.5px;

    .quoteTwo {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
      font-weight: 200;
      color: $base03;
    }
  }

  .weatherBottom {
    border-radius: $inner_border-radius;

    calendar {
      color: $base03;

      .header {
        font-weight: bold;
        border-radius: $outer_border-radius;
        color: $base01;
        background-color: $baseA0;
      }

      .button {
        color: $base02;
        color: transparent;
      }

      .highlight {
        color: $baseA0;
        font-weight: bold;
      }
    }

    calendar:selected {
      color: $base01;
      background-color: $baseA0;
      border-radius: $outer_border-radius;
    }

    calendar:indeterminate {
      color: $base02;
    }
  }
}
