// Event style

.eventBox {
  background: $base01;
  border-radius: 10px;
  padding: 5px;
  transition: 250ms;
  .eventIcon {
    color: $base00;
    padding: 10px 12.5px;
    border-radius: 10px;
    font-size: 25px;
  }
  .eventIcon.default {
    background: $base0D;
  }

  .eventIcon.high {
    background: $base0A;
  }

  .eventContent {
    color: $base03;
  }
}

// Calendar styles
.weatherMainBox {
  background: $base00;
  border: 2px solid $base01;
  padding: 10px;
  border-radius: 20px;
  .button {
    background: $base01;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .weatherWidget {
    border-radius: 10px;
    background: $base01;
    padding: 5px 10px;
  }

  .bigClock {
    font-size: 45px;
  }

  .bigSeparator {
    font-size: 50px;
    color: $baseA0;
    opacity: 0.8;
  }
  .bottomClockText {
    font-family: 'IBM Plex Sans Mono';
    font-size: 16.5px;
    color: $base04;
  }

  .weatherTop {
    > .icon {
      font-size: 50px;
    }
  }
  .weatherQuoteBox {
    padding: 5px 10px;
    // background: $base01;
    border-radius: 10px;

    .quoteTwo {
      font-family: roboto;
      font-style: italic;
      font-weight: 200;
      color: $base03;
    }
  }
}

.calendarBox {
  //background-color: $base01;
  border-radius: 15px;
  padding: 5px;
  .calendarBoxChild {
    .calendarButton {
      padding: 5px;
      //min-width: 1.25rem;
      min-width: 1.75rem;
      min-height: 1.75rem;
      border-radius: 20px;
      transition: 250ms;
        label {
        font-family: "IBM Plex Sans Mono";
        transition: 250ms;
      }
      &.today {
        background: $baseA0;

        label {
          font-weight: bold;
          color: $base01;

        }
      }
      &.othermonth {
        label {
          color: $base02;
        }
      }
      &.thismonth {
        label {
          color: $Altbase03;
        }
      }
    }
    .calendarButton:hover {
      &.today {
        opacity: 0.8;
        background: $baseA0;
        label {
          color: $base01;
        }
      }
      &.othermonth {
        background: $base02;
        label {
          color: $Altbase03;
        }
      }
      &.thismonth {
        background: $base02;
        label {
          color: $base04;
        }
      }
    }
  }
}

.timer {
  background: $base01;
  padding: 10px;
  border-radius: 10px;
  .timerLabel {
    color: $base02;
    font-size: 25px;
  }
  .buttonTimer {
    & {
      border-radius: 20px;
      transition: 250ms;
      label {
        color: $base03;
        transition: 250ms;
      }
    }
    &:hover {
      label {
        color: $base04;
      }
    }
    &.actived, &.actived:hover {
      label {
        color: transparent;
      }
    }
  }

  .buttonStart {
    padding: 5px 10px;
    border-radius: 100px;
    transition: 250ms;
    label {
      font-weight: bold;
      transition: 250ms;
      color: $Altbase03;
    }
  }
  .progressTimer {
    background: $base02;
    color: $base02;
    transition: 250ms;
    &.active {
      color: $baseA0;
    }
  }
}
