//General dashboard Settings. for all sections

.dashboard {
  padding: 15px;
  background: $base00;
  border-radius: 20px;
  border: 2px solid $base01;
}

.icon_sliders {
  padding: 5px;
}

.inactive_checkbox {
  background: $base01;
  color: transparent;
  .icon {
    color: $base04;
    margin-left: -16.5px;
  }
}

.active_checkbox {
  background: $baseA0;
  color: transparent;
  .icon {
    color: $base01;
    margin-left: -16.5px;
  }
}

// Settings for the aboutme section


.aboutmeBox {
  padding: 10px 20px;

  .username {
    color: $base04;
  }
  .hostname {
    color: $base02;
  }
  .divisor {
    background: $base01;
    border-radius: 10px;
    min-width: 2.5px;
  }

  .logoutButton {
    background-color: $base01;
    border-radius: 5px;
    .icon {
      padding: 5px 15px;

    }
  }
}

