//General dashboard Settings. for all sections

.dashboardWindow {
  padding: 5px 10px;
}

.dashboard {
  padding: 15px;
  background: $base00;
  border-radius: 20px;
}

.checkbox {
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.25s;
  color: transparent;
}

.icon_sliders {
  padding: 5px;
}

.inactive_checkbox {
  background: $base01;
  color: transparent;
  .icon {
    color: $base04;
    margin-left: -16.5px;
  }
}

.active_checkbox {
  background: $baseA0;
  color: transparent;
  .icon {
    color: $base01;
    margin-left: -16.5px;
  }
}

.Scale {
  trough {
    all: unset;
    margin: 0 5px;
    min-height: 8px;
    min-width: 100px;
    background-color: $base02;
    border-radius: 50px;
    highlight {
      all: unset;
      border-radius: 50px;
      background-color: $baseA0;
    }
  }
}

// Settings for the aboutme section
.aboutmeBox {
  padding: 10px 20px;

  .username {
    color: $base04;
  }
  .hostname {
    color: $base02;
  }
  .pfpImage {
    background-image: url("./img/pfp.png");
    background-size: cover;
    border-radius: 65px;
  }
  .divisor {
    background: $base01;
    border-radius: 10px;
    min-width: 2.5px;
  }

  .logoutButton {
    background-color: $base01;
    border-radius: $inner_border-radius;
    .icon {
      padding: 5px 15px;
    }
  }
}
// Mid section
// Settings for the quickbuttons, like wifi bluetooth and more

.quick_actions {
  background-color: $base01;
  border-radius: 20px;
  padding: 20px;

  .quickButton {
    background: $base01;

    .name {
      font-size: 14px;
    }
  }
}

.quick_sliders {
  background: $base01;
  padding: 15px;
  border-radius: 20px;
}

.Button {
  border-radius: 100%;
  transition: 500ms;
  .icon {
    padding: 12px 15px;
  }
}
.onButton {
  background: $baseA0;
  label {
    color: $base01;
  }
}

.offButton {
  background: $base03;
  label {
    color: $base04;
  }
}

.quick_button {
  background: $base01;
  border-radius: 20px;
  padding: 10px 15px;

  .name {
    font-size: 14px;
  }

}

.circprogress {
  color: $baseA0;
  background: $base00;
}

.quick_info {
  border-radius: 20px;
  .quick_button {
    background-color: $base01;
    padding: 2.5px 10px;
  }

  .quick_graphs {
    background: $base01;
    border-radius: 20px;
    padding: 10px 15px;

    .graph1 {
      color: $baseA0;
    }
    .graph2 {
      color: $base0D;
    }
    .graph3 {
      color: $base0E;
    }
  }
  .usagelabel {
    margin: 10px 15px;
    .graph1,
    .graph2,
    .graph3 {
      font-family: monospace;
      font-size: 13px;
      font-weight: bold;
    }
    .graph1 {
      color: $baseA0;
    }
    .graph2 {
      color: $base0D;
    }
    .graph3 {
      color: $base0E;
    }
  }

  .batteryBox {
    padding: 3px;
    .batteryChildBox {
      @extend .quick_button;
      background-color: $base00;
      padding: unset;
    }

    progress {
      background: $base0D;
      min-height: 28px;
      border-radius: 20px;
    }

    .batteryIconLow {
      color: $base04;
    }

    .batteryIconHigh {
      color: $base00;
    }
  }

  .normaltemp {
    color: $base0C;
  }
  .hottemp {
    color: $base0A;
  }
}

//Playerctl box settings

.music_box {
  background-color: $base01;
  border-radius: 10px;
  padding: 5px;

  .music_cover {
    border-radius: 5px;
    margin: 5px;
    background-size: cover;
    background-position: center;
  }

  .music_scale {
    @extend .Scale;
    trough {
      min-height: 4px;
    }
  }
}

// Notif section

.notifmenuTopBox {
    
  .notifTitle {
    font-size: 18px;
  }

  .clearEventbox {
    label {
      padding: 10px;
      background-color: $base01;
      border-radius: 5px;
      transition: 0.25s;
    }
  }

  .clearEventbox:hover {
    label {
      background-color: $base02;
    }
  }

  .clearEventbox:active {
    label {
      background-color: $baseA0;
      color: $base01;
    }
  }
}
