* {
  text-shadow: unset;
}

window {
  background: unset;
}

tooltip {
  font-weight: 500;
  color: $base04;
  background: $base01;
  border: 3px solid $base00;
  border-radius: 0.5rem;
  padding: 5px 10px;
}

button {
  box-shadow: unset;
  border: unset;
  border-color: unset;
  outline: unset;
  background: unset;
}

.scroll {
  trough {
    background: $base01;
    border-radius: 20px;

    slider {
      background-color: $base03;
      border: $base03;
      min-width: 10px;
      border-radius: 20px;
    }
  }
}

checkbutton {
  check {
    background: unset;
    box-shadow: unset;
    border: unset;
    border-radius: unset;
    transition: unset;
    font-weight: unset;
    padding: unset;
    outline: unset;
    outline-offset: unset;
  }

  check:checked {
    background: unset;
    color: unset;
  }
}

scale {
  padding: unset;
  border: unset;
  padding: 5px 0;
  trough {
    background: unset;
    border: unset;

    slider {
      background: unset;
      border: 3px solid transparent;
      box-shadow: unset;
      margin: -6px;
      min-height: 10px;
      min-width: 10px;
    }

    highlight {
      opacity: 0.25;
      background: unset;
      border-radius: 20px;
      border: unset;
    }
  }
}

progressbar {
  border: unset;
  padding: unset;
  margin: unset;
  border-radius: unset;

  trough {
    border: unset;
    margin: unset;
    border-radius: unset;
    padding: unset;
    min-width: 0px;
    min-height: 2.5px;

    progress {
      opacity: unset;
      background: $base0A;
      border: unset;
      margin: unset;
      padding: unset;
      // margin-bottom: -1px;
      border-radius: unset;
      min-height: 2.5px;
    }
  }
}

combobox {
  background: unset;
  border-radius: 5px;
  padding: 0 5px 0px 2.5px;
  button {
    background: unset;
    padding: unset;
    outline: unset;
    box {
      border: unset;
      outline: unset;
      cellview {
        background: unset;
        outline: unset;
      }
      arrow {
        outline: unset;
        background: unset;
        color: unset;
      }
    }
  }
  window {
    decoration {
      background: unset;
      color: unset;
      border: unset;
      outline: unset;
      padding: unset;
      margin: unset;
    }
    menu {
      padding: unset;
      margin: unset;
      color: $base04;
      background: $base00;
      border-radius: 10px;
      menuitem {
        transition: 250ms;
      }
      menuitem:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      menuitem:last-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      menuitem:hover {
        background: $baseA0;
        cellview {
          color: $base01;
        }
      }
    }
  }
}

