.hyprsettingsBox {
  background: $base00;
  border-radius: 15px;
  border: 2px solid $base01;
  padding: 20px;
  min-width: 325px;
  min-height: 200px;
  .settingsTitle {
    color: $base04;
    font-weight: bold;
  }

  .settingsHeader {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

//General settings for the "father widget"
.settingsBox {
  background: $base01;
  border-radius: 10px;
  padding: 10px 12.5px;

  .icon {
    font-size: 25px;
  }
  .icon.small {
    font-size: 20px;
  }

  label {
    font-size: 16px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .settingsBoxChild {
    background: $base02;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px $base00;
  }

  scale {
    trough {
      background: $base03;

      slider {
        background: $base01;
        min-width: 25px;
        min-height: 10px;
        margin: -5px;
        border-radius: 5px;

        border: 1.5px solid $baseA0;
      }

      highlight {
        background: $baseA0;
      }
    }
  }

  .settingsCheckboxBox {
    background: $base01;
    border-radius: 5px;
    transition: 250ms;
    .icon {
      font-size: 15px;
      font-weight: bold;
      margin: 0 0.2em;
    }
  }

  .settingsCheckboxBox.checked {
    background: $baseA0;
    .icon {
      color: $base01;
    }
  }

  combobox {
    background: $base01;
    border-radius: 5px;
    padding: 0 5px 0px 2.5px;
    margin-right: -5px;
    arrow {
      color: $base01;
    }
  }
}
