.launcherBox {
  background: $base00;
  border-radius: 20px;
  border: 2px solid $base01;
  padding: 40px 20px;

  .launcherInputBox {
    background: $base01;
    border-radius: 14px;
    padding: 5px 10px;

    .launcherInput {
      color: $base04;
      margin: 5px 10px;
    }
  }

  
  .launcherAppContainer {

    .appEntryEventBox {
      border-radius: 20px;
      transition: 250ms;

      .appEntryBox {
        padding: 5px 10px 5px 5px;

        .appName {
          color: $base04;
          transition: 250ms;
        }

        .appDesc {
          color: $base03;
          transition: 250ms;
          font-size: 13px;
        }
      }

      &:hover {
        background-color: $base01;
      }
    }
  }
}
