// Style for the popup

.icon.zeronotifIcon {
  color: $base01;
  font-size: 100px;
}

.zeronotifLabel {
  color: $base02;
  font-weight: bold;
  padding-left: 10px;
}

.Box_Spotify {
  border-left: 5px solid $base0D;
}

.Box_VencordDesktop,
.Box_discord {
  border-left: 5px solid $base0B;
}

.notifBox {
  background: $base00;
  padding: 15px;
  border-radius: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  .titlebar {
    color: $base02;
  }

  .title {
    color: $base04;
  }

  .content {
    color: $base03;
  }

  .icon {
    color: $base03;
    font-weight: bold;
  }

  .VencordDesktop,
  .discord {
    color: $base0B;
  }
  .Spotify {
    color: $base0D;
  }

  .smallImage,
  .bigImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $outer_border-radius;
}

  .smallImage {
    min-width: 60px;
    min-height: 60px;
  }

  .bigImage {
    min-width: 384px;
    min-height: 216px;
  }
}

// Style for the DASHBOARD notification menu box

.notifmenuBox {
    padding: 10px 5px;
  .notifBox {
    background: $base01;  

    .smallImage {
      min-width: 50px;
      min-height: 50px;
    }
  
    .bigImage {
      min-width: 256px;
      min-height: 144px;
    }
}


  .notifBox.Spotify {
    border-left: 5px solid $base0D;
  }

  .notifBox.VencordDesktop,
  .notifBox.discord {
    border-left: 5px solid $base0B;
  }
}
