.osd-widget {
  background-color: $base00;
  border-radius: 100px;
  padding: 5px 15px;

  .scale {
    @extend .Scale;
    margin: 10px;

    trough {
      border-radius: 5px;
      min-height: 5px;
      min-width: 150px;
      background-color: $base01;

      highlight {
        background: $baseA0;
        border-radius: 100px;
    }
    }
  }
}
