.windowEventBoxes {
  background: $base00;

  .windowsContainers {
    background: $base01;
    border-radius: 8px;
    padding: 10px;
    margin: 0 10px;

    .workspaceWindowsBox {
      border-radius: 8px;
      padding: 50px 100px;
      background: $base02;
      margin: 5px;
    }
  }
  .workspaceWindowEventbox {
    // background: $base00;
    border-radius: 8px;
    transition: 250ms;
}

  .workspaceWindowEventbox:hover {
    border: 5px solid $baseA0;
  }
}

.windowIcon {
  background-size: cover;
  background-position: center;
}
