.windowSwitcherBox {
  background: $base00;
  // border-radius: 20px;
  // border: 2px solid $base01;
  padding: 23px;
}

.windowEventBoxes {
  transition: 250ms;

  .windowsContainers {
    background: $base01;
    border-radius: 10px;
  }

  .workspaceWindowEventbox {
    border-radius: 8px;
    background: $base00;
    opacity: 0.7;

    .workspaceWindowsBox {
      border-radius: 8px;
      transition: 250ms;
      background-size: 100%;

      .windowIcon {
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .workspaceWindowsBox.Floating {
      background: $base01;
    }
  }

  .focused {
    border: 1.5px solid $baseA0;
    border-radius: 8px;
  }
  .unfocused {
    border: 1.5px solid $base01;
  }

  .windowButton {
    font-size: 7px;
  }
  .windowButton_1 {
    color: $base02;
  }
  .windowButton_2 {
    color: $base03;
  }
  .windowButton_3 {
    color: $baseA0;
  }
}
