.windowEventBoxes {
  background: $base00;
  border-radius: 20px;
  border: 5px solid $base01;
  padding: 20px;;

  .windowsContainers {
    background: $base01;
    border-radius: 10px;
  }

  .workspaceWindowEventbox {
    border-radius: 8px;

    .workspaceWindowsBox {
      border-radius: 8px;
      transition: 250ms;
      background-size: 100%;
      background: $base00;

      .windowIcon {
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .workspaceWindowsBox.Floating {
      background: $base01;
    }
  }

  .focused {
    border: 1.5px solid $baseA0;
    border-radius: 8px;
  }
  .unfocused {
    border: 1.5px solid $base01;
  }

  .windowButton {
    font-size: 7px;
  }
  .windowButton_1 {
    color: $base02;
  }
  .windowButton_2 {
    color: $base03;
  }
  .windowButton_3 {
    color: $baseA0;
  }
}
