.workspacesWidget {

    .icon {
        font-size: 20px;
    }
    .workspacesBox {
        padding: 5px;
        border-radius: 10px;
        // transition: 250ms;
    }
    
    .workspacesBox.activeWorkspace {
        background-color: $baseA0;
        padding: 5px 10px;
    }
    
    .workspacesBox.inactiveWorkspace {
        background-color: $base03;
        padding: 5px 7.5px;
    }
    
    .workspacesBox.emptyWorkspace {
        background-color: $base01;
    }
}
