
* {
	all: unset;
	font-family: Fira Code NF;
	font-size: 15px;
}


window#waybar {
	background-color: transparent;
}

window#waybar>box {
	border-radius: 8px;
	margin: 4px 8px 8px 8px;
	background-color: #161616;
	box-shadow: 4px 4px 2px 1px rgba(16, 16, 16, 0.3);
}


window#waybar button:hover, #workspaces button.active{
	border: 0px solid #171717;
	background-image: linear-gradient(45deg, #161616, #161616);
	border-radius: 0px;
}

tooltip {
	border-radius: 20px;
	background-color: rgba(22,22,22,0.6);
	border: 0;
	color: rgb(255, 255, 255);
}

#tray menu {
	border-radius: 20px;
	background-color: rgba(22, 22, 22, 0.6);
	color: rgb(255, 255, 255);
}

/*
	Modules Left
*/

#custom-menu {
    margin-left: 10px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
    color: #d0d0d0;
    font-size: 20px;
}

#clock {
	border-radius: 20px;
	padding: 0 10px;
	margin-left: 20px;
	margin-right: 10px;
	font-family: monospace;
	color: #747474;
}


#taskbar {
	background-color: #161616;
	border-radius: 20px;
}

/* 
	Modules Center
*/

#workspaces button {
	color: #2e3436;
	padding: 5px;
	margin: 0 5px;
}

#workspaces button.active {
	color: #d0d0d0;
	border-radius: 0px;
	border-bottom: 1px solid #d0d0d0;
	background-image: linear-gradient(rgba(22,22,22,0.5) 65%, rgba(161,161,161, 0.5))
}

/*
	Modules Right
*/

.modules-right {
	padding-right: 20px;
}

#battery, #network, #bluetooth, #custom-local_ip, #pulseaudio, #backlight, #custom-pacman_updates, #custom-htb {
	color: #747474;
	background-color: #161616;
	padding: 0 10px;
	font-size: 18px;
}


#tray {
color: #747474;
background-color: #161616;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
margin-right: 5px;
}

#custom-pacman_updates {
	color:#747474;
	border-radius: 20px;
	font-size: 15px;
	font-family: monospace;
}

#custom-htb {
	font-family: monospace;
	color:	#747474;
	font-size: 15px;
	margin: 0 10px;
}

#custom-local_ip {
	color: #747474;
	border-radius: 20px;
	padding: 0 20px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: monospace;
    border: 0;
	font-size: 15px;
	background-color: #161616;
}

#network.wifi,
#network.disconnected,
#network.disabled,
#network.linked,
#network.ethernet {
	color: #747474;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	margin-left: 5px;
	padding-left: 15px;
}

#bluetooth.connected {
	color: #7aa2f7;
}
#battery {
	color: #747474;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

}

#battery.warning {
	color: orange;
}

#battery.critical {
	color: red;
}
