.prompt {
  border-radius: 20px;
  border-color: transparent;
}

.suggestion-item:not(.is-selected) .suggestion-highlight {
  color: var(--text-accent);
}

.suggestion-item.is-selected .suggestion-highlight {
  color: black;
}

.suggestion-item.is-selected {
  background: var(--text-accent);
  color: black;
  border-radius: 14px;
}

.suggestion-item.is-selected .suggestion-hotkey {
  background-color: black;
  color: var(--text-accent);
}

.suggestion-hotkey {
  background-color: var(--text-accent);
  color: black;
  border-radius: 10px;
  font-weight: 600;
}

.prompt-instruction {
  font-weight: 500;
}

.prompt-instruction-command {
  background-color: rgb(250, 252, 255, 0.5);
  color: black;
  border-radius: 10px;
  padding: 0 3px 0 3px;
}
