window.launcher {
  background-color: $base00;
  border-radius: to-rem(20px) to-rem(20px) 0 0;

  entry {
    padding: 0 to-rem(20px);
    min-height: to-rem(40px);
    min-width: to-rem(240px);
    border: to-rem(2px) solid $base01;
    border-radius: to-rem(20px);
    background-color: $base01;
    margin-top: to-rem(20px);
    &:focus {
      border-color: $base09;
    }
  }

  scrolledwindow {
    min-height: to-rem(500px);

    box {
      .apps-container {
        margin: 0 to-rem(250px);
      }

      .other-container {
        margin-top: to-rem(10px);
        padding: to-rem(5px) to-rem(5px) to-rem(5px) to-rem(5px);
        border-radius: to-rem(20px);
        background: $base01;

        button:not(.app-widget) {
          min-width: 500px;
          &:focus {
            background: $base02;
          }

          &:hover {
            background: lighten($base02, 0.3);
          }

          .description {
            color: lighten($base03, 0.1);
          }
        }
      }

      button {
        padding: 0 to-rem(20px);
        border-radius: to-rem(20px);
        min-height: to-rem(45px);
        transition: 250ms background;

        &:focus {
          background: $base01;
        }

        &:hover {
          background: lighten($base01, 0.3);
        }

        icon {
          font-size: to-rem(32px);
        }

        .symbolic {
          font-size: to-rem(12px);
          color: $base04;
        }
      }

      .app-widget {
        @extend button;
        min-width: to-rem(200px);
      }

      .app-item {
        .name {
          font-size: to-rem(16px);
          font-weight: 600;
          color: $base04;
        }
        .description {
          font-size: to-rem(16px);
          font-weight: 500;
          color: $base03;
        }
      }
    }
  }
}
