.top_right {
    background-color: transparent;

    .bigmenu_evenbox {
    .bigmenu_rev {
    .bigmenu_box_grandfather {
        padding-right: 21px;
        .bigmenu_box_father {
            padding-bottom: 10px;
            border-radius: $outer_border-radius;
            background-color: $base00;
            }
        }
    }
}}

.quickmenu_box {
    background-color: $base01;
    border-radius: 20px;
    padding: 10px 0px;
    margin: 10px 5px;
}