
.top_left {
    background-color: transparent;
}


// Calendar
.relleno {
    padding-top: 27px;
    background-color: transparent;
}

.cal-box {
    border-radius: 15px;
    padding: 20px;
    background-color: $base00;
}

calendar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    padding: 3px 10px;
}

calendar:selected {
    color: $base00;
    background-color: $baseA1;
    opacity: 0.2;
    border-radius: 10px;
}

calendar.header {
    color: $base00;
    font-weight: bold;
    border-radius: 10px;

}

calendar.button {
    color: $base00;
    background-color: transparent;
}

calendar.highlight {
    color: $baseA0;
    font-weight: bold;
}

calendar:indeterminate {
    color: $baseA1;
}

.weatherFather {
    font-family: monospace;
    .weatherChild > .icon, .weather-temperature-box {
        background-color: $base01;
        border-radius: 50px;
        margin: 5px;
        padding: 10px
    }
    .weather-stat {
        font-size: 19px;
        font-weight: bold;
    }
    .weather-quote-head {
        font-weight: bold;
        color: $base03;

    }
    .weather-quote-tail {
        font-style: italic;
        color: $base02;
    }

}