.upper_menuboxFather {
    padding: 10px;
    font-family: monospace;
    
    .battery_box{
        background-color: $base01;
        border-radius: 15px;
    .battery_icon {
        padding-right: 10px;
    }
    .battery_percentaje {
        padding-left: 10px;
    }
    }
    .yuck_settings {
        background-color:  $base01;
        padding: 5px 5px 5px 9px;
        border-radius: 15px;
    }
}