@use '../functions' as *;
@use '../variables';

box.notification {
  min-width: 500px;
  border: 2px solid alpha(variables.$fg, 0.03);

  &.CRITICAL {
    border-color: mix(variables.$bg, variables.$error-color, 0.5);
  }
}
