.wifi_entryBox {
  padding: 10px 20px;
  border-radius: 10px;
  &.selected {
    border-left: 3px solid $baseA0;
  }
  &.unselected {
    border-left: 3px solid $base01;
  }
  .SECURITY,
  .SECURITY_ICON.locked {
    color: $base03;
  }

  .SECURITY_ICON.unlocked {
    color: $base0B;
  }

  .SECURITY_ICON.connected {
    color: $base0D;
  }
  .CHAN {
    color: $Altbase03;
    letter-spacing: 2px;
  }
}


.passInputBox {
  background-color: $base02;
  border-radius: 10px;
  padding: 5px 10px;
  
  entry {
    color: $base04;
    font-weight: bold;
    min-height: 2.5px;
    font-family: 'IBM Plex Sans Mono';

  }
}
