.applauncher {
    background: $base00;
    border-radius: 20px;
    border: 1px solid $base01;
    padding: 20px;


    .entry {
        background: $base01;
        color: white;
        border-radius: 15px;
        padding: 10px 20px;
    }

    .app-separator {
        min-height: 2px;
        border-radius: 20px;
        background: $base01;
    }

    .app-button {
        border-radius: 10px;

        //background: $base01;

        .app-icon {
            border-radius: 20px;
            min-width: 20px;
            min-height: 20px;

        }

        .app-name {
            font-size: 15px;
            font-weight: 600;
            color: white;
        }

        .app-comment {
            font-size: 12px;
            color: darken(white, 50%);
            font-weight: 600;
        }

    }
}
