.desktop-menu,
menu {
    background: $base00;
    border-radius: 5px 20px 20px 20px;
    padding: 10px;
    border: 1px solid $base01;

    menuitem,
    separator {
        margin: 2px 0;
    }

    menuitem {
        &:hover {
            background: $base01;

            .icon {
                color: $base02;
            }
        }

        border-radius: 10px;
        padding: 10px 15px;
        transition:250ms;

        .icon {
            transition: 250ms;
        }

        label {
            color: white;
            font-weight: 600;
        }

    }

    separator {
        background: $base01;
        min-height: 2px;
        border-radius: 10px;

    }

}

.media-widget {
    padding: 20px;

    .player {
        background: $base00;
        padding: 15px;
        min-width: 300px;
        border-radius: 20px;

        .media-button {
            border-radius: 5px;
            min-width: 35px;
            min-height: 35px;
            transition: 300ms;

            &.available {

                &:hover,
                &:active {
                    background: $base01;
                }

                .icon {
                    color: $base04;
                }
            }

            .icon {
                color: $base02;
            }
        }

        .media-cover {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
            min-width: 65px;
            min-height: 65px;

            .player-icon {
                background: $base00;
                border-radius: 10px 0 8px 0;
                padding: 2.5px;
            }
        }

        label {
            font-weight: 600;

            &.media-source {
                font-size: 14px;
            }

            &.media-title {
                font-size: 16px;
            }

            &.media-artist {
                font-size: 13px;
            }
        }
    }
}


.lockscreen {
    background: $base00;

    .lockscreen-icon {
        background-image: url("/home/tokyob0t/Pictures/waifu_pfp.png");
        border-radius: 200px;
        background-size: cover;
        background-position: center;

    }

    .lockscreen-entry {
        background: $base01;
        border-radius: 15px;
        min-width: 350px;
        min-height: 30px;
        padding: 5px 10px;
        color: white;
        font-weight: 600;
        font-family: "JetBrains Mono Nerd Font";

    }
}
