.launcher {
	padding: 40px;
	border-radius: $border-radius;
	background: #111;
	
	.app {
		min-width: 300px;
		border-radius: $border-radius;
		padding: 10px 20px;
		
		&:hover {
			background: $base01;
		}
		.name {
			color: $base06;
			font-weight: 700;
		}
		.comment {
                        color: $base03;
			font-weight: 500,
		}
	}
}
