.notifications-container {
	padding:10px;
	.notification {
		background: #111;
		padding: 10px;
		border-radius:$border-radius;
		.header {
			color: $base06;
			font-size: 15px;
			font-weight: 600;
		}	
		.content {
			color: $base03;
			font-size: 14px;
			font-weight: 500;

		}
		.image {
			border-radius:$border-radius;
		}
		.actionbutton {
			background:$base01;
			padding: 7.5px;
			border-radius:$border-radius;
		}
}
}	
