.topbar {
	background: $base00;
	padding: 20px 10px;
	border-radius:$border-radius;
	
	.workspace {
		background:$base01;
		padding: 10px 5px;
		border-radius:$border-radius;

		&.active {
			background:$base02;
			padding: 20px 5px;
		}
		
		&.current {
			background:$base0A;
		}
	}
	
	.battery-progress {
		background: $base01;
		&,
		& > trough,
		& > trough > progress {
		border-radius: $border-radius;	
		min-width: 20px;
		} 
		
		trough progress {
			background-color: $base0D;
		}
	}
}


