.notifHistoryBox {
    background-color: $base00;
    padding: 15px;
    border-radius: $outer_border-radius;
}

.notifButton {
    background-color: $base01;
    border-radius: $outer_border-radius;
    transition: 0.25s;
    margin: 10px 5px;

    .icon {
        padding: 0 13px;
        color: $base0F;
        margin: unset;
    }
}