.quicksettingsBox {
  background-color: $base01;
  border-radius: $outer_border-radius;
  transition: 0.25s;


  .quicksettingsEventbox:active {
    background-color: $base02;
    border-radius: $outer_border-radius;
  }

  .quicksettingsChildBox {
    padding: 2.5px 10px;
  }
}
