.bottombar {
    // background-image: linear-gradient(90deg, lighten($base00, 50%),$base00, lighten($base00, 50%) );
    //background: mix(mix($base00, $base02, 90%), transparent, 95%);
    background: darken(mix($base00, transparent, 95%), 5%);


    padding: 2.5px 15px 2.5px 5px;

    .time {
        color: $base01;
        font-weight: 500;

        &.date {
            font-size: 13px;
        }

        &.hour {
            font-size: 12.5px;
        }
    }

    .find {
        label {
            font-size: 40px;
            margin: -2px;
        }
    }

    .notifIndicator {
        background: $base02;
        padding: 1.5px 4px;
        border-radius: 20px;
        min-width: 12.5px;

        label {
            font-size: 13px;
            color: $base00;
            font-weight: 600;
        }
    }

    .module {
        background-repeat: no-repeat;
        background-position: center;
        transition: 250ms;
        min-width: 45px;
        min-height: 45px;
        border-radius: 5px;
        background-size: 80% 80%;

        &:active {
            background-repeat: no-repeat;
            background-position: center;

            .appicon {
                background-size: 65% 65%;
            }
        }

        &:hover,
        &.focused_module {
            background-repeat: no-repeat;
            background-position: center;
            background: lighten($base03, 100%);
            background-size: 80% 80%;
        }


        &.larger {
            padding: 0 10px;
        }

        &.large {
            padding: 0 5px;
        }

        .indicator {
            border-radius: 10px;
            min-height: 4px;

            & {
                background: transparent;
            }

            &.focused {
                background: $base02;
                min-width: 13.5px;
                transition: 250ms;
            }

            &.not_focused {
                background: darken($base00, 50%);
                min-width: 7.5px;
                transition: 125ms;
            }
        }
    }
}
