.osd-revealer {



    .osd-box {
        background: $base03;
        border-radius: 10px;
        padding: 20px 20px 20px 15px;
        box-shadow: $my-shadow-two;

        label {
            min-width: 25px;
        }

        .osd-scale {
            trough {
                background-color: darken($base00, 20%);
                border-radius: 15px;
                min-width: 150px;


                progress {
                    opacity: 0.25;
                    background: $base02;
                    border-radius: 20px;
                    border: unset;
                }
            }
        }
    }
}
