.OverView {
    background: mix($base00, transparent, 40%);
}

.bigwindow {
    border-radius: 10px;
    background-color: lighten($base01, 5%);

    .titlebar {
        border-radius: 10px 10px 0 0;
        background: mix(mix($base00, $base02, 90%), transparent, 99%);
        padding: 5px 10px;

        button {
            &:hover {
                .icon {
                    color: lighten($base01, 5%);
                }
            }

            .icon {
                transition: 250ms;
                color: mix(mix($base00, $base02, 90%), transparent, 99%);
            }
        }
    }
}

.overviewmenuitem,
.menu,
.overviewmenu {
    background: $base00;
    border-radius: 2.5px 10px 10px 10px;
    padding: 5px;

    .windowmenuitem {
        &:first-child {
            border-radius: 2.5px 10px 10px 10px;
        }

        &:hover {
            background: mix($base00, lighten($base01, 5%), 65%);
        }

        border-radius: 10px;
        transition: 250ms;
        padding: 7.5px 10px;
    }

    separator {
        background: mix(darken($base00, 80%), transparent, 20%);
        border-radius: 20px;
        margin: 2.5px 5px;
        min-height: 1px;
    }
}

.overviewrevealer {

    &.active {
        margin-top: 0;
        margin-bottom: 10px;
        transition:
            margin-top 350ms $my-bezier-in,
            margin-bottom 350ms $my-bezier-in;
    }

    &.inactive {
        margin-top: 250px;
        margin-bottom: -250px;
        transition:
            margin-top 400ms $my-bezier-out,
            margin-bottom 400ms $my-bezier-out;
    }

    .overviewscroll {

        background: darken(mix($base00, transparent, 80%), 5%);
        border-radius: 10px;

        .workspacesbox {
            padding: 2.5px;

            .inactiveline,
            .activeline {
                opacity: 0;
                transition: 250ms;
                border-radius: 10px;
                min-height: 3px;
                margin-bottom: 10px;
                transition: min-width 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            .activeline {
                opacity: 1;
                background: $base02;
                min-width: 75px;
            }

            .workspace {
                padding: 5px;
                padding-bottom: 15px;
                border-radius: 10px;
                transition: 250ms;

                &:hover,
                &.active {
                    background: $base00;
                }

                &:first-child {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                .windowcontainer {
                    background-image: $wallpaper;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 7.5px;

                    .windowbutton {
                        transition: 250ms;
                        transition: border 150ms linear;
                        transition: margin 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
                        background-color: lighten($base01, 5%);
                        border-radius: 7.5px;

                        .windowIcon {
                            transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }
}
