.shutdown-window {
	border-radius: 10px;

	background: mix(mix($base00, $base02, 90%), $base01, 90%);

	.titlebar {
		border-radius: 10px 10px 0 0;
		background: mix(mix($base00, $base02, 90%), transparent, 99%);
		padding: 5px 10px;

		button {
			&:hover {
				.icon {
					color: lighten($base01, 5%);
				}
			}

			.icon {
				transition: 250ms;
				color: mix(mix($base00, $base02, 90%), transparent, 99%);
			}
		}
	}

	.content {

		.top-section {}

		.mid-section {
			combobox {
				button.combo {
					color: $base01;
					background: mix(mix($base00, $base02, 90%), transparent, 99%);
					border-radius: 5px;
					border: 1px solid darken($base00, 20%);

					&:hover {
						background: $base02;
						color: $base00;
					}
				}

				window.popup {
					border-radius: 10px;
					background: mix(mix($base00, $base02, 90%), transparent, 99%);
					border-radius: 5px;
					border: 1px solid darken($base00, 20%);
					color: $base01;

				}
			}

			.selection-desc {
				min-width: 300px;
				min-height: 75px;
			}
		}

		.bot-section {

			button {
				background: mix(mix($base00, $base02, 90%), transparent, 99%);
				border-radius: 5px;
				border: 1px solid darken($base00, 20%);
				min-width: 100px;
				min-height: 25px;
			}
		}
	}
}
