.wallpaper {
    background-image: $wallpaper;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1920px;
    min-height: 1080px;
}

.deskmenu {
    background: $base00;
    border-radius: 2.5px 10px 10px 10px;
    padding: 5px;

    .deskmenuitem {
        &:first-child {
            border-radius: 2.5px 10px 10px 10px;
        }

        transition: 250ms;
        padding: 7.5px 10px;
        border-radius: 10px;
        &:hover {
            background: mix($base00, $base02, 100%);
        }
    }

    separator {
        background: mix(darken($base00, 80%), transparent, 20%);
        border-radius: 20px;
        margin: 2.5px 5px;
        min-height: 1px;
    }
}
