* {
background:             #161616B3;
backgroundSolid:        #161616;
backgroundAdditional:   #232323;
background-alt:         #232323;
foreground:			    #dde1e6;
foreground-alt:		    #f2f4f8;
selected:			    #be95ff;
active: 			    #be95ff;
highlight:			    #be95ff;
urgent:				    #be95ff;
on:					    #be95ff;
off:				    #393939;
}
