* {
background:             #161616B3;
backgroundSolid:        #161616;
backgroundAdditional:   #232323;
background-alt:         #232323;
foreground:			    #dde1e6;
foreground-alt:		    #f2f4f8;
selected:			    #6791da;
active: 			    #6791da;
highlight:			    #6791da;
urgent:				    #33b1ff;
on:					    #6791da;
off:				    #393939;
}
